/* Write your CSS code here */
.list-item {
  padding: 10px;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.logo-and-name-container {
  margin: 0;
  display: flex;
  align-items: center;
  width: 70%;
}
.logo-img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-left: 30px;
  margin-right: 10px;
}
.logo-name {
  font-size: 18px;
}
.coin-type-usd {
  margin-right: 30px;
  width: 15%;
  font-size: 18px;
}
.coin-type-euro {
  margin-right: 30px;
  width: 15%;
  font-size: 18px;
}
